/* GLOBAL */

* {
    font-family: "Poppins", sans-serif;
    scroll-padding-top: 2rem;
}

section {
    padding: 2em;
    /* padding-top: 50px;
    padding-bottom: 50px; */
}


/* HALO */
#halo {
    /* height: 100vh; */
}


/* ABOUT */
#about p {
    font-size: 1.2rem;
}


/* LOGO */
.fab {
    color: #000000;
}

.fa-twitter:hover {
    color: #55ACEE;
}

.fa-github:hover {
    color: #171515;
}

.fa-google:hover {
    /* color: #4285F4; */
    /* color: #DB4437; */
    /* color: #F4B400; */
    color: #0F9D58;
}

.fa-linkedin-in:hover {
    color: #0082ca;
}

.fa-facebook:hover {
    color: #3B5998;
}

.fa-download {
    color: #000000;
}

.fa-download:hover {
    color: #343a40;
}


/* PROJECTS */
#projects .card {
    background-color: #343a40;
    transition: 0.2s transform;
}
#projects .card:hover {
    /* background-color: #f8f9fa;
    color: #343a40; */
    transform: scale(1.05);
}

/* SMOL PROJECTS */
#smol-projects .card {
    background-color: #343a40;
    color: #f8f9fa;
    transition: 0.2s transform;
}
#smol-projects .card:hover {
    /* background-color: #f8f9fa;
    color: #343a40; */
    transform: scale(1.05);
}


/* WRITING */

#blog .card {
    background-color: #343a40;
    transition: 0.21s transform;
}

#blog .card:hover {
    transform: scale(1.02);
}


/* TALKING */
#talks .card {
    background-color: #343a40;
    color: #f8f9fa;
    transition: 0.21s transform;
}

#talks .card:hover {
    transform: scale(1.02);
}


/* CERTIFICATION */
.cert-list {
    background-color: #343a40;
    color: #f8f9fa;
}

.cert-list:hover {
    background-color: inherit;
}


/* INTERESTS & DISLIKES */
#interests-and-dislikes p {
    font-size: 1rem;
}


/* CONTACT */
#contact p {
    font-size: 1.1rem;
}